@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');

$font-default: "Montserrat", sans-serif;

$font-size-title: 24.5px;
$font-size-description--sm: 11px; 
$font-size-description--md: 16px;